/.vscode/
/ServerMachineDataset/interpretation_label/
/ServerMachineDataset/save/
/ServerMachineDataset/test/
/ServerMachineDataset/test_label/
/ServerMachineDataset/train/
/ServerMachineDataset/LICENSE
